body{
	font-family: Arial;
}

.mainWindow{
	padding: 32px;
	border: 2px solid grey;
	border-radius: 4px;
	margin: 0 auto;
	text-align: center;
	width: 80%;
	height: 80vh;
	overflow: auto;
}

button{
	background-color: DodgerBlue;
	border: 0;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}

button:hover{
	background-color: Azure;
	color: DodgerBlue;
	transition-duration: 0.5s;
}

.expandingImage:hover{
	height: 128px;
	width: 128px;
	transition-duration: 1s;
	/*transform:rotate(360deg);*/
}

.expandingImage{
	transition-duration: 1s;
}

/*.hiddenImage:hover{
	transition-duration: 0.5s;
	height: 128px;
	width: 128px;
	opacity: 1;
}*/

.hiddenImage{
	opacity: 0;
	transition-duration: 1s;
	height: 0px;
	width: 0px;
}

.shownImage{
	transition-duration: 0.5s;
	height: 128px;
	width: 128px;
	opacity: 1;
}



#items{
	text-align: left;
}

.item{
	padding: 12px;
}